<div class="container m-3">
  <h1>Lists#index</h1>
  <br>
  <%= link_to "Create new list", new_list_path %>
  <br>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>
</div>
