<div class="container m-3">
  <h1>New Bookmark</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :movie_id, :collection => Movie.all %>
    <%= f.input :comment %>
    <%= f.submit "Save Bookmark" %>
  <% end %>
</div>
